.home {
	position: relative;
	background-color: #ffff;
	margin-top: -110px;
	z-index: -1;
}

span {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
span > h1 {
	font-weight: 700;
}
ul {
	font-size: 1.2rem;
	font-weight: 500;
}
