.exportDetails {
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-image: url("https://4.downloader.disk.yandex.com/preview/de8d1672444cf2dd6429c09c0678ef2b995dc04a664ba84fdfb4057359a1438a/inf/cB-lGmHSY18wFLLfbh-nRJaiSRSX391q1AHLq4_thKBGInwgvftlpMMYxT2AdPGWAfRVUDzxkVKoOBbhNIvnUA%3D%3D?uid=1680697291&filename=a.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=1680697291&tknv=v2&size=1672x976");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	padding: 0 10px;
}
.exportRow {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-evenly;
}

.exportCol > ul > li {
	font-size: 1.2em;
}
.exportCol {
	width: 70%;
	display: flex;
	justify-content: space-evenly;
}
@media only screen and (max-width: 768px) {
	.content {
		flex-direction: column;
		width: 80%;
		padding: 0 10px;
	}
	.exportCol {
		flex-direction: column;
	}
}
